{% extends "base.html" %}

{% block title %}Inicio - Constructora Robinson Salvo{% endblock %}

{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5 text-center">
        <h1 class="display-5 fw-bold text-dark">Tu Visión, Nuestra Construcción.</h1>
        <p class="fs-4 text-muted">Especialistas en **Porcelanato y Cerámica de Gran Formato**. Calidad, precisión y un acabado de lujo para tu hogar.</p>
        <a href="{{ url_for('galeria') }}" class="btn btn-primary btn-lg mt-3">Ver Proyectos Destacados</a>
    </div>
</div>
{% endblock %}